.header1 {
    background-color: #ffffff;
    border-bottom: 1px solid #f4f4f4;
    color: #444444;
    font-size: 14px;
    position: relative;
    box-sizing: border-box;
    display: list-item;
    text-align: -webkit-match-parent;
    list-style: none;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.42857143;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

    .header1 > span {
        margin: 0.5rem;
        display: inline-block;
        font-weight: 500;
        font-size: 1.2rem;
        color: #fb8f42;
    }

.ul-Warning {
    background: white;
    margin: 0;
}

    .ul-Warning .pull-left {
        padding: 0.6rem;
        font-size: 1.4rem;
        margin: 0.5rem;
    }

.menu {
    line-height: 1.42857143;
    color: #333;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    text-align: -webkit-match-parent;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
    display: block;
}

.h4-items {
    padding: 0;
    margin: 0 0 0 45px;
    color: #444444;
    font-size: 15px;
    position: relative;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 500;
    line-height: 1.1;
    box-sizing: border-box;
    display: block;
    margin-block-start: 0.33em;
    margin-block-end: 0.33em;
    margin-inline-end: 0px;
    white-space: nowrap;
    cursor: pointer;
    text-align: -webkit-match-parent;
}

.li-Root {
    position: relative;
    box-sizing: border-box;
    display: list-item;
    text-align: -webkit-match-parent;
    font-size: 14px;
    text-align: left;
    list-style: none;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    border-bottom: 1px solid #f4f4f4
}

.p-warning {
    margin: 0 0 0 45px;
    font-size: 12px;
    color: #888888;
    box-sizing: border-box;
}

.mif-bell {
    color: #ffffff;
}

.span-warning {
    padding-left: 1rem;
}

li.task {
    padding: 4px 0;
    margin-bottom: 5px;
}

.task.task-read {
    background: #c7dfcc1f;
}

.task.task-unread {
    background: #cadcf9;
    display: grid;
}

.li.task:hover {
    background: #f4f4f4;
    text-decoration: none;
}

.pull-left {
    float: left;
}

#name-user {
    color: #ffffff;
}

.text-red {
    color: red !important;
}

.text-yellow {
    color: #00C0EF !important;
}

.fix-float-left {
    position: relative;
}

.footer-viewall {
    text-align: center;
    font-size: 1rem;
    margin-top: 1rem;
}

    .footer-viewall a {
        color: #3883FF !important;
        padding-right: 1rem;
    }

        .footer-viewall a:hover {
            color: #66A812;
        }

.bg-green {
    color: #60A917;
}

.white {
    color: #ffffff;
}

.user-image {
    float: left;
    width: 36px;
    height: 36px;
    margin-top: -2px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.hidden-xs {
    color: #ffffff;
}

.app-bar-container.ml-auto {
    background: transparent;
}

.user-header {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 175px;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    list-style: none;
}

.user-footer {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #f9f9f9;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 14px;
    list-style: none;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.user-footer span {
    cursor: pointer;
}

.user-footer .lang-select {
    display: inline-flex;
    margin: 0;
    padding: 0;
}

.lang-select li {
    cursor: pointer;
}

li.user-header {
    background-color: #37A98A;
}

    li.user-header p {
        color: #ffffff;
        font-size: 17px;
        margin: 0 !important;
    }

    li.user-header span {
        color: #ffffff;
        display: block;
        font-size: 12px;
        margin-top: -2rem;
    }

.pull-right {
    float: right;
}

.customerDetailDebtBL td, .customerDetailDebtBL th,
.cordinationResult td, .cordinationResult th,
.vendorDebtReportBL td, .vendorDebtDetailBL th {
    border: 1px solid rgb(40, 148, 141);
    padding: 8px;
}

.customerDetailDebtBL .stickyHeader > thead,
.cordinationResult .stickyHeader > thead,
.vendorDebtReportBL .stickyHeader > thead {
    position: -webkit-sticky;
    position: sticky;
    top: -20px;
    background: #eee;
    z-index: 1
}

.btnReqApprove {
    position: relative;
    left 5%;
    width: 90%;
    margin-top: 10px;
    position: relative;
    left: 5%;
}
